<div class="container ">
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">Frequently Asked Questions
          </h1>
      </div>
  </div>
  <!-- /.row -->
    <div class="panel-group" id="faqAccordion">
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question0">
                 <h4 class="panel-title">
                    <a class="ing">Q: What if I can’t eat gluten, dairy, meat, seafood, water, or air?</a>
              </h4>

            </div>
            <div id="question0" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>Our menus are ever changing, but with enough notice we can accommodate any and all dietary restrictions...yes even if you’re allergic to water.
                        If you plan to join us for an aperitivo and have dietary restrictions, please contact us and we can make it work.
                        </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question1">
                 <h4 class="panel-title">
                    <a class="ing">Q: How much does a private event cost?</a>
              </h4>

            </div>
            <div id="question1" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                      For catered dinners the average cost per person is $65 for private parties of 20 or less.
                      For larger events there is a minimum of $1000 depending on menu selection and the amount of people.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question2">
                 <h4 class="panel-title">
                    <a class="ing">Q: How much notice do you need to plan a private event?</a>
              </h4>

            </div>
            <div id="question2" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                      We prefer to have as much notice as possible but are able to put something together for you with a weeks notice. Always reach out and let us know what you need.
                    </p>
                </div>
            </div>
        </div>
        <div class="panel panel-default ">
            <div class="panel-heading accordion-toggle collapsed question-toggle" data-toggle="collapse" data-parent="#faqAccordion" data-target="#question3">
                 <h4 class="panel-title">
                    <a class="ing">Q: Can you come to my house and feed my friends and family? (and can I take credit for it?)</a>
              </h4>

            </div>
            <div id="question3" class="panel-collapse collapse" style="height: 0px;">
                <div class="panel-body">
                     <h5><span class="label label-primary">Answer</span></h5>

                    <p>
                      We would love to feed you and yours! Please send us as much info as possible and we will get back to you to begin the planning process
                        Name
                        Contact phone
                        Contact email
                        Date
                        Time
                        Head count
                        Type of event
                        Dietary restrictions
                    </p>
                </div>
            </div>
        </div>

    </div>
    <!--/panel-group-->
</div>
