<header class = "header">
  <div class = "header_image fill" style = "background-image:url('images/tea_party_2.jpg')">
    <img src = "images/anotte_7-07.png" class = "anotte_logo">
      <h1 class = "caption">Tea Party in the park </h1>
  </div>

</header>

<!-- Page Content -->
<!-- <div class="container"> -->

    <!-- <hr class="featurette-divider"> -->
      <div class = "featurette" id = "about">
        <div class = "fill_image pull-left fill" style="background-image:url('images/5FF_02.jpg')">
          <h1 class = "featurette_header">About Us </h1>
        </div>
        <div class = "featurette_text pull-right">
            <h2 class = "featurette_mobile_header"> About Us</h2>
          <p class = "featurette_text_one" >Jeffrey Deakyne and Marielle D’Onofrio are creating experiences for food and friends
            to come together. We pride ourselves on curating one night events that are unique to
            the space and appeal to food lovers of all kinds. Our attention to great local food and
            impeccable service represent our passions. Behind the scenes, we take curating dining
            experiences seriously. However, we hope each event has a casual feel that makes every guest
            feel like they are part of the family.</p>
          </div>
      </div>
      <div class = "featurette" id = "about">
        <div class = "fill_image pull-right fill" style="background-image:url('images/tea_party.jpg')">
        </div>
        <h1 class = "featurette_header">Events</h1>
        <div class = "featurette_text pull-left">
            <h2 class = "featurette_mobile_header"> Events</h2>
          <p class = "featurette_text_one"> The best way to get a feel for our events is to come to one in person! Mark your calendar for our next upcoming event:
          <h1>Sunday, October 9th Tea Party <br><a href="https://www.eventbrite.com/e/tea-party-in-the-park-tickets-27766992823">Tickets</h1>
          </p>
          </div>
      </div>

    <!-- <hr class="featurette-divider"> -->

    <!-- First Featurette -->
    <div class="featurette" id="about">
        <img class="featurette-image img-responsive pull-left" src="http://placehold.it/400x300">
        <h2 class="featurette-heading">This First Heading
            <span class="text-muted">Will Catch Your Eye</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Second Featurette -->
    <div class="featurette" id="services">
      <img class="featurette-image img-responsive pull-left" src="http://placehold.it/400x300">
        <h2 class="featurette-heading">The Second Heading
            <span class="text-muted">Is Pretty Cool Too.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">

    <!-- Third Featurette -->
    <div class="featurette" id="contact">
      <img class="featurette-image img-responsive pull-right" src="http://placehold.it/400x300">
        <h2 class="featurette-heading">The Third Heading
            <span class="text-muted">Will Seal the Deal.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>

    <hr class="featurette-divider">
