<!-- <header class = "header">

  <img class = "header_image image_responsive image-center" src = "images/anotte_8-07.png">
  <div class = "header_image fill" style = "background-image:url('images/anotte_8-07.png')">
    <img src = "images/anotte_7-07.png" class = "anotte_logo">
    <div class = "carosel-caption">
      <h1 class = "caption">Happy Hour Done Right</h1>
    </div>
  </div>

</header> -->
<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive header_image" src="images/anotte_update.svg" alt="">
                    <div class="intro-text">
                        <h1 class="name">Private Events</h1>
                          <hr class="star-light">
                        <h1 class = "name"> Catering</h1>
                        <!-- <span class="skills">Web Developer - Graphic Artist - User Experience Designer</span> -->
                    </div>
                </div>
            </div>
        </div>
    </header>




<!-- Page Content -->
<!-- <div class="container"> -->

    <!-- <hr class="featurette-divider"> -->
    <div class = "featurette" id = "about">
      <div class = "fill_image pull-right fill" style="background-image:url('images/tea_party.jpg')">
      </div>
      <h1 class = "featurette_header">Upcoming Events</h1>
      <div class = "featurette_text pull-left">
        <h2 class = "featurette_mobile_header"> Upcoming Events</h2>
        <div class = "date-tag">
          <p>OCT</p>
          <p> 22 </p>
        </div>
        <h3 class = "featurette_text_one">Five Fridges Farm Dinner More Info. </h3>
        <hr class = "star-light">
        <div class = "date-tag">
          <p>OCT</p>
          <p> 22 </p>
        </div>
        <h3 class = "featurette_text_one">Five Fridges Farm Dinner More Info. </h3>
        <hr class = "star-light">
        <div class = "date-tag">
          <p>OCT</p>
          <p> 22 </p>
        </div>
        <h3 class = "featurette_text_one">Five Fridges Farm Dinner More Info. </h3>
        <hr class = "star-light">




      </div>
    </div>
      <div class = "featurette" id = "about">
        <div class = "fill_image pull-left fill" style="background-image:url('images/5FF_02.jpg')">
          <h1 class = "featurette_header">About Us </h1>
        </div>
        <div class = "featurette_text pull-right">
            <h2 class = "featurette_mobile_header"> About Us</h2>
          <p class = "featurette_text_one" >Jeffrey Deakyne and Marielle D’Onofrio are creating experiences for food and friends
            to come together. We pride ourselves on curating one night events that are unique to
            the space and appeal to food lovers of all kinds. Our attention to great local food and
            impeccable service represent our passions. Behind the scenes, we take curating dining
            experiences seriously. However, we hope each event has a casual feel that makes every guest
            feel like they are part of the family.</p>
          </div>
      </div>

    </div>
