<div class="container">

       <!-- Page Heading -->
       <div class="row">
           <div class="col-lg-12">
               <h1 class="page-header">Upcoming Events
               </h1>
           </div>
       </div>
       <!-- /.row -->

       <!-- Project One -->

       </div>
       <hr class = "star-light">
       <div class="row">
           <div class="col-md-7">
               <a href="#">
                   <img class="img-responsive" src="http://res.cloudinary.com/anottedenver-com/image/upload/v1477002084/grandmashouse_q2uk9v.png" alt="">
               </a>
           </div>
           <div class="col-md-5">
               <h3>December 12th, Happy Hour At Grandma's house</h3>
               <p>Let's all get weird at Grandma's House this holiday season. We will provide all the munchies you could imagine, you just bring your ugly sweater wearing self. $25 tickets include a beer and everything to please your inner stoner. Grandma's House is full of awesome boardgames and old school super nintendo and N64, we may have to get some tounaments going. It will be like you never left your mom's basement!</p>
               <a class="btn btn-primary" href="https://www.eventbrite.com/e/happy-hour-at-grandmas-house-tickets-28707047552#tickets">Tickets</span></a>
           </div>
       </div>
       <hr class = "star-light">

       <!-- /.row -->

       <!-- <hr> -->

       <!-- /.row -->



       <!-- Pagination -->
       <!-- <div class="row text-center">
           <div class="col-lg-12">
               <ul class="pagination">
                   <li>
                       <a href="#">&laquo;</a>
                   </li>
                   <li class="active">
                       <a href="#">1</a>
                   </li>
                   <li>
                       <a href="#">2</a>
                   </li>
                   <li>
                       <a href="#">3</a>
                   </li>
                   <li>
                       <a href="#">4</a>
                   </li>
                   <li>
                       <a href="#">5</a>
                   </li>
                   <li>
                       <a href="#">&raquo;</a>
                   </li>
               </ul>
           </div>
       </div> -->
       <!-- /.row -->

       <hr>



   </div>
